<div class="clearfix desc-text col-md-6">
  <p>
    Zainteresowany? To nie czekaj dłużej tylko zapisz się już TERAZ!
    <br />
  </p>
  <form
    action="https://app.convertkit.com/forms/1440273/subscriptions"
    method="post"
    data-sv-form="1440273"
    data-uid="4fb0d26148"
    data-format="inline"
    data-version="5"
  >
    <div class="form-group">
      <input
        name="email_address"
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Twój email"
        required=""
      />
      <small id="emailHelp" class="form-text text-muted"
        >Obiecujemy zachować go dla siebie!</small
      >
    </div>
    <div class="form-group">
      <input
        name="fields[first_name]"
        type="text"
        class="form-control"
        placeholder="Imię lub nick"
        required=""
      />
      <small id="nameHelp" class="form-text text-muted"
        >Jeżeli masz ochotę to możesz wpisać: Władca wszechświata, król
        galaktyk.</small
      >
    </div>
    <button type="submit" class="btn theme-btn btn-style-one">Chcę to!</button>
  </form>
  <br />
  <small>Polityka prywatności - <a href="policy.html">więcej</a></small>
  <p></p>
</div>
